body{
background:url(Background.jpg);
text-align:center; 
border-style:solid;
padding:10px;
border-radius:20px;
border-width:5px;
}
#Heading{
text-decoration:underline;
font-size:60px; 
color:darkturquoise;  
}
#p{
color:red;
text-decoration:underline;
text-align:left;
font-size:xx-large;
}
#Purpose{
font-size:x-large; 
}
#Copyright_Footer{
position:fixed;
color:azure;
bottom:0;
width:100%;
font-size:18px;
background-color:cadetblue;
line-height:1;
width:1500px;
text-align:center;
text-shadow:5px 5px 5px coral;  
border-style:solid;
padding:10px;
border-radius:20px;
border-width:5px;
border-color:red;
}