.heading{
font-size:25px;
width:100%;
margin:5px;
box-shadow: 5px 5px 5px red;   
}
.note{
font-size:17px;
color:greenyellow;    
}
.copyright-footer{
position:fixed;
color:aquamarine;
bottom:0;
width:100%;
background-color:lightcoral;
line-height:3;
border-style:solid;
text-align:center;
}
canvas{
border:5px solid white;
border-radius:20px;
box-shadow: 5px 5px 5px red;    
}
body{
border-style:solid;
padding:5px;
border-width:10px;  
background:url(Background.jpg);
}